
@{
    ViewBag.Title = "About";
}
<style>
    .myDiv {
        border: 5px outset blue;
        background-color: white;
</style>
<center><h2><font color="white">About Bouncy UK</font></h2></center>

<div class="myDiv">
    <center><h4>Company Information</h4></center>
    <p>
        Based in the UK . An ever-expanding selection of handpicked party and event products, means that you can trust us to help you find the right inflatable or party feature to make your big day a spectacular success.

        With you, our customer at the forefront of our minds and ethos. we'll go the extra mile to make your event special with a product that fits with your space and budget. Our helpful team will support you to plan, and pick what you need for your event, party or any other occasion imaginable!.
    </p>

</div>
<br />
<br />
<div class="myDiv">
    <center>
        <h4>Booking Steps</h4>

        <p>
            1.Create a Bouncy UK account by regsitering<br />
            2.Log on to that created account<br />
            3.Select/view desired item<br />
            4.Select "Book Now"<br />
            5.Fill in the booking form.<br />
            6.Choose to pay COD(Cash on delivery) or secure online payment.<br />
            7.You will get an email to confirm your booking.<br />
            8.You will get an email attached with an invoice .<br />
            9.We deliver at a time agreed .<br />
        </p>
    </center>
</div>
<br />
<br />
<div class="myDiv">
    <center>
        <h4>Booking Availability</h4>
    </center>
    <p>Contact us on the contact page  with the product reference you would like to book if not available.</p>
</div>

